body{
    text-align: center;
    margin: auto;
}
#nav{
    background-color: cornflowerblue;
    height: 6rem;
}
li{
    text-decoration: none;
    display: inline;
}
.nav-items{
    float: right;
    padding: 1rem;
    cursor: pointer;
    font-size: larger;
}
input{
    margin: auto;
    display: block;
    padding: 0.5rem;
    width: 350px;
    height: 1rem;
    font-size: large;

}
#button{
    background-color: cornflowerblue;
    width: 8rem;
    height: 3rem;
    color: white;
    margin: 2rem;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
#output-div{
    padding: 2rem;
    font-size: larger;
    height: 2rem;
    color: cornflowerblue;
}
h2{
    text-align: center;
}